@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

.timeline-vertical-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.125rem; 
  background-color: #9CA3AF;
  height: 1.5rem;
  margin-top: -28px;
  transform: translateX(-50%);
  border-radius: 4px;
}


#tsparticles {
  pointer-events: none;
  height: 0;
  z-index: 0;
}

section {
  z-index: 1;
}
